.pie{
	max-width: 100%;
	background: #3d210f;
	height: 130px;
	text-align: center;
	font-size: 22px;
	font-weight: 10;
	text-decoration: none;
	display: flex;
	flex-grow: inherit;
	align-content: flex-end;
	justify-content: flex-end;
	flex-direction: row-reverse;
}
.footerDerecha{
	background-color: $background-color_1;
	box-sizing: border-box;
	font: normal 16px sans-serif;
	margin: 5px;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	img{
		color: $color_1;
		width: 45px;
		height: 45px;
		margin: 15px;
	}
}
.footerIzquierda{
	background-color: $background-color_1;
	position: static;
	top: 0;
	bottom: auto;
	img{
		color: $color_1;
		width: 100%;
		height: 90px;
		margin-left: 50px;
		margin-bottom: 15px;
		justify-content: left;
		align-items: baseline;
	}
}
.copyright{
	color: $color_1;
	font-size: 15px;
	padding: 10px;
	font-family: $font-family_3;
	width: 100%;
	height: 100%;
	margin-left: 45px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.footerIzq{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row;
}
.logo-instagram{
	transition: 2s;
	&:hover{
		transform: scale(1.3);
	}
}
.logo-facebook{
	transition: 2s;
	&:hover{
		transform: scale(1.3);
	}
}
.logo-whatsapp{
	transition: 2s;
	&:hover{
		transform: scale(1.3);
	}
}