

.hero{
	color: $color-primario;
	text-align: center;
	background-image: url("../img/herofondo3.png");
	max-width: 100%;
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    @extend %flex-colum;
	p{
		margin-bottom: 20px;
		color: $color-primario;
		font-size: nth($font-size, 4);
		font-style: italic;
		font-family: $font-family_primaria_cursiva;
	}

	h2{
		color: $color-primario;
		font-size: nth($font-size, 13);
		padding: 20px;
		font-family: $font-family_secundaria;
	}

	a{
		color: map-get($boton, color-boton);
		font-weight: map-get($boton, fw-boton);
		background-color: map-get($boton, bg-boton);
		border: map-get($boton, border-boton);
		padding: map-get($boton, padding-boton);
		display: inline-block;
		transition: map-get($boton, transition-boton);
		font-family: map-get($boton, ff-boton);
		text-decoration: map-get($boton, td-boton);
		&:hover{
			color: $color-botones-apretar;
		}
	}
}

.dream{
	@extend %flex-colum;
	h2{
		color: $color-secundario;
		font-size: nth($font-size, 13);
		padding: 20px;
		font-family: $font-family_secundaria;
	}

	h3{
		margin-bottom: 20px;
		color: $color-secundario;
		width: 80%;
		padding: 20px;
		font-size: nth($font-size, 5);
		font-family: $font-family_primaria_cursiva;
	}
}

.calidad{
	color: $color-primario;
	text-align: center;
	background-color: $background-primario;
	max-width: 100%;
	height: 350px;
	@extend %flex-colum;
	h2{
		color: $color-primario;
		font-size: nth($font-size, 13);
		padding: 20px;
		width: 100%;
		background-color: $background-primario;
		font-family: $font-family_secundaria;
	}
}

.calidad-imagen{
	color: $color-primario;
	background-image: url("../img/calidad3.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	width: 750px;
}

.productos{
	color: $color-primario;
    @extend %flex-colum;
	padding: 20px;
	max-width: 100%;
	height: 850px;
	div{
        @include flex (flex, space-around, center);
		padding: 10px;
		max-width: 100%;
		height: 350px;
		div{
			border: 1px solid gray;
			max-width: 250px;
			height: 350px;
			margin: 10px;
			text-align: center;
			@extend %flex-colum;
		}
		a{
		color: map-get($boton, color-boton);
		font-weight: map-get($boton, fw-boton);
		background-color: map-get($boton, bg-boton);
		border: map-get($boton, border-boton);
		padding: map-get($boton, padding-boton);
		display: inline-block;
		transition: map-get($boton, transition-boton);
		font-family: map-get($boton, ff-boton);
		text-decoration: map-get($boton, td-boton);
			&:hover{
				color: $color-botones-apretar;
			}
		}
		img{
			max-width: 250px;
			height: 250px;
		}
	}

	h2{
		color: $color-secundario;
		font-size: nth($font-size, 13);
		font-family: $font-family_secundaria;
		max-width: 100%;
	}
}

.cajasUno{
	@extend %flex;
	padding: 100px;
	max-width: 100%;
	height: 150vh;
	margin: 10px;
	transition: 2s;
	div{
		box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		-webkit-box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		-moz-box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		&:hover{
			transform: scale(1.07);
		}
		h3{
			color: $color-secundario;
			font-size: nth($font-size, 7);
			padding: 20px;
			font-family: $font-family_primaria_cursiva;
			font-style: oblique;
		}
	}
}

.cajasDos{
	@extend %flex;
	padding: 100px;
	max-width: 100%;
	height: 150vh;
	margin: 10px;
	transition: 2s;
	div{
		box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		-webkit-box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		-moz-box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		&:hover{
			transform: scale(1.07);
		}
		h3{
			color: $color-secundario;
			font-size: nth($font-size, 6);
			padding: 20px;
			font-style: oblique;
			font-family: $font-family_primaria_cursiva;
		}
	}
}

.contacto{
	color: $color-primario;
	max-width: 100%;
	height: 250px;
	@extend %flex-colum;
	background-color: $background-secundario;
	p{
		margin: 5px;
		color: $color-secundario;
		font-size: nth($font-size, 4);
		font-style: italic;
		padding: 5px;
		font-family: $font-family_primaria_cursiva;
		width: 75%;
	}

	h2{
		color: $color-secundario;
		font-size: nth($font-size, 13);
		padding: 5px;
		max-width: 100%;
		height: 70px;
		margin: 10px;
		font-family: $font-family_secundaria;
		justify-content: center;
		align-items: center;
	}

	a{
		color: map-get($boton, color-boton);
		font-weight: map-get($boton, fw-boton);
		background-color: map-get($boton, bg-boton);
		border: map-get($boton, border-boton);
		padding: map-get($boton, padding-boton);
		display: inline-block;
		transition: map-get($boton, transition-boton);
		font-family: map-get($boton, ff-boton);
		text-decoration: map-get($boton, td-boton);
		justify-content: center;
		align-items: center;
		&:hover{
			color: $color-botones-apretar
		}
	}
}

.contactoPagina {
	@extend %flex-colum;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 23);
		padding: 20px;
		font-family: $font-family_primaria;
	}

	h3 {
		margin-bottom: 20px;
		color: $color-secundario;
		font-size: nth($font-size, 4);
		font-family: $font-family_primaria_cursiva;
		width: 100%;
		padding: 10px 230px;
	}
}

.formulario {
    @include flex (flex, space-between, center);
	flex-direction: row-reverse;
	background-color: $background-secundario;
	color: $color-terciario;
	font-family: $font-family_primaria_cursiva;
}

.formularioIzquierda {
	font-size: nth($font-size, 6);
	margin: 20px;
	padding: 30px;
	width: 100%;
	font-family: $font-family_primaria_cursiva;
	color: $color-terciario;
	font-style: inherit;
	div {
		i {
			font-size: nth($font-size, 9);
			color: $color-terciario;
			font-family: $font-family_primaria_cursiva;
		}
	}

	h3 {
		font-size: nth($font-size, 9);
	}

	p {
		font-size: nth($font-size, 5);
	}
}

.ubicacion {
	@include flex (flex, space-evenly, center);
}

.email {
	@include flex (flex, space-evenly, center);
	i.bi.bi-envelope-at{
		margin-left: 110px;
	}
}

.telefono {
	@include flex (flex, space-evenly, center);
}

.horario {
	@include flex (flex, space-evenly, center);
}

.formularioDerecha {
	font-size: 18px;
	margin: 20px;
	padding: 30px;
	width: 100%;
	font-family: $font-family_primaria_cursiva;
}

.name {
	font-size: nth($font-size, 4);
}

.direccion {
	@extend %flex-colum;
	height: 550px;
	width: 100%;
}

.mapa {
	position: relative;
	overflow: hidden;
}

input {
	&:focus {
		border-radius: 5px;
		border: 1px solid #3d210f;
	}
}

.produccion {
	@extend %flex-colum;
	max-width: 100%;
	div {
		h2 {
			color: $color-secundario;
			font-size: nth($font-size, 13);
			padding: 20px;
			font-family: $font-family_primaria;
		}
		p {
			color: $color-secundario;
			font-size: nth($font-size, 1);
			padding: 20px;
			font-style: italic;
			font-family: $font-family_primaria_cursiva;
			background-color: $background-secundario;
			background-size: cover;
		}
		img {
			max-width: 100%;
		}
	}
}

.container-produccion {
	@extend %flex-colum;
	div {
		img {
			width: 500px;
			height: 400px;
			object-fit: inherit;
			overflow: hidden;
			position: relative;
			margin: 0px;
			border-radius: 20px;
			box-shadow: 5px 8px 12px black;
		}
	}

	p {
		font-size: nth($font-size, 4);
		max-width: 100%;
		height: 100%;
		color: $color-secundario;
		padding: 10px 200px 0px 200px;
		margin-bottom: 0px;
		padding-bottom: 0px;
		font-style: italic;
		font-family: $font-family_primaria_cursiva;
		background-color: $background-secundario;
		background-size: cover;
	}
}

.Alfajores {
	@extend %flex-colum;
	position: relative;
	height: 50%;
	width: 100%;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 13);
		padding: 0px 20px;
		font-family: $font-family_primaria;
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

.container-alfajores {
	background-color: $background-primario;
	width: 100%;
	height: 450px;
	margin-top: 10px;
	padding-top: 20px;
    @extend %flex-colum;
}

.imagenes-alfajores {
	background-color: $background-secundario;
	width: 100%;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	@extend %flex-space;
}

.Bombones {
	@extend %flex-colum;
	position: relative;
	height: 50%;
	width: 100%;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 13);
		padding: 0px 10px;
		font-family: $font-family_primaria;
		height: 20px;
		margin-bottom: 70px;
		margin-top: 5px;
	}
}

.container-bombones {
	background-color: $background-primario;
	width: 100%;
	height: 450px;
	margin-top: 10px;
	padding-top: 20px;
	@extend %flex-colum;
}

.imagenes-bombones {
	background-color: $background-secundario;
	width: 100%;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	@extend %flex-space;
}

.Chocolates {
	@extend %flex-colum;
	position: relative;
	height: 60%;
	width: 100%;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 13);
		padding: 0px 10px;
		font-family: $font-family_primaria;
		height: 20px;
		margin-bottom: 70px;
		margin-top: 5px;
	}
}

.container-chocolates {
	background-color: $background-primario;
	width: 100%;
	height: 450px;
	margin-top: 10px;
	padding-top: 20px;
	@extend %flex-colum;
}

.imagenes-chocolates {
	background-color: $background-secundario;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-auto-rows: 350px;
	width: 100%;
	gap: 10px;
	height: 900px;
    padding: 20px;
	div {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.Huevos {
	@extend %flex-colum;
	position: relative;
	height: 50%;
	width: 100%;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 13);
		padding: 0px 10px;
		font-family: $font-family_primaria;
		height: 20px;
		margin-bottom: 70px;
		margin-top: 5px;
	}
}

.container-huevos {
	background-color: $background-primario;
	width: 100%;
	height: 450px;
	margin-top: 10px;
	padding-top: 20px;
	@extend %flex-colum;
}

.imagenes-huevos {
	background-color: $background-secundario;
	width: 100%;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	@extend %flex-space;
}

.Pan {
	@extend %flex-colum;
	position: relative;
	height: 50%;
	width: 100%;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 13);
		padding: 0px 10px;
		font-family: $font-family_primaria;
		height: 20px;
		margin-bottom: 70px;
		margin-top: 5px;
	}
}

.container-panes {
	background-color: $background-primario;
	width: 100%;
	height: 450px;
	margin-top: 10px;
	padding-top: 20px;
	@extend %flex-colum;
}

.imagenes-panes {
	background-color: $background-secundario;
	width: 100%;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	@extend %flex-space;
}

.Regalos {
	@extend %flex-colum;
	position: relative;
	height: 80%;
	width: 100%;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 13);
		padding: 0px 10px;
		font-family: $font-family_primaria;
		height: 20px;
		margin-top: 5px;
		margin-bottom: 70px;
	}
}

.container-regalos {
	background-color: $background-primario;
	width: 100%;
	height: 450px;
	margin-top: 10px;
	padding-top: 20px;
	@extend %flex-colum;
}

.imagenes-empresariales {
	background-color: $background-secundario;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 2fr);
	grid-auto-rows: 350px;
	width: 100%;
	gap: 30px;
    padding: 20px;
	div {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.video {
	max-width: 100%;
	@extend %flex-colum;
	padding: 40px;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 9);
		padding: 20px;
		width: 100%;
		font-family: $font-family_primaria_cursiva;
	}
}

.video1 {
	width: 560px;
	height: 315px;
}

.history {
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.historia {
	background-size: cover;
	background-color: $background-secundario;
	max-width: 100%;
	@extend %flex-row;
	h2 {
		color: $color-secundario;
		background-color: $background-secundario;
		background-size: cover;
		font-size: nth($font-size, 13);
		padding: 10px;
		width: 80%;
		margin: 20px;
		font-family: $font-family_primaria;
	}

	p {
		margin: 10px;
		max-width: 80%;
		color: $color-secundario;
		font-size: nth($font-size, 3);
		padding: 10px;
		font-style: italic;
		background-color: $background-secundario;
		background-size: cover;
		font-family: $font-family_primaria_cursiva;
	}
}

.grid-historia {
	height: 400px;
	max-width: 100%;
	background-color: $background-cuaternario;
	@include flex (flex, space-evenly, center);
	flex-direction: row;
}

.grid-history {
	div {
		img {
			width: 350px;
			height: 350px;
			object-fit: cover;
		}
	}

	img {
		box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		-webkit-box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		-moz-box-shadow: 11px 14px 17px -3px rgba(0,0,0,1);
		border-radius: 20px;
	}
}

.tienda {
	color: $color-secundario;
	@extend %flex-colum;
	width: 100%;
	h2 {
		color: $color-secundario;
		font-size: nth($font-size, 23);
		padding: 20px;
		font-family: $font-family_primaria;
	}

	ol {
		color: $color-secundario;
		width: 100%;
		font-size: nth($font-size, 4);
		padding: 20px 100px 20px;
		font-family: $font-family_primaria_cursiva;
		background-color: $background-secundario;
		font-style: italic;
		height: 400px;
		margin: 10px;
	}
}

.ecomerce {
	background-color: $background-cuaternario;
	padding: 20px;
	width: 100%;
	height: 50vh;
	font-size: 20px;
}