*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.ir-arriba {
	display:none;
	padding:20px;
	font-size:40px;
	color: black;
	cursor:pointer;
	position: fixed;
	bottom: 65px;
	right:1px;
}

html{
	scroll-behavior: smooth;
}